{% extends "::base.html.twig" %}

{% block body %}
    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>My orders</li>
                </ul>

            </div>

                       <div class="col-md-3">
                <!-- *** CUSTOMER MENU *** -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Customer section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                          
                            <li>
                                <a href="{{path('supplier_products')}}"><i class="fa fa-list"></i> My products</a>
                            </li>
                           
                            <li>
                                <a href="{{path('supplier_Myservices')}}"><i class="fa fa-location-arrow"></i> My services</a>
                            </li>
                               <li>
                                <a href="{{path('customer_orders')}}"><i class="fa fa-bookmark-o"></i> My orders</a>
                            </li>
                            <li>
                                <a href="{{path('Affichage_offre')}}"><i class="fa fa-compass"></i> My offers</a>
                            </li>
                            
                             <li >
                                <a href="{{path('notification_offre')}}"><i class="fa fa-bitcoin"></i> My responses</a>
                            </li>
                            <li>
                                <a href="{{path('fos_user_profile_show')}}"><i class="fa fa-user"></i> My account</a>
                            </li>
                           
                            <li>
                                <a href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <div class="col-md-9" id="customer-orders">
                <div class="box">
                    <h1>Vos reclamations</h1>

                    <p class="lead">La liste de vos reclamations: </p>  

                    <hr>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Service</th>
                                    <th>Sujet</th>

                                    <th>Date</th>
                                    <th>Statut</th>

                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for a in i%}
                                    <tr>
                                        <td>{{a.getIdService().getNom()}}</td>
                                        <td>{{a.getSujet()}}</td>

                                        <td>{{a.getDate()}}
                                        </td>
                                        <td>{% if a.getReponse() is empty %}
                                            <span class="label label-danger">En cours</span>
                                        {% else%}
                                            <span class="label label-success">Traitée</span>
                                            {% endif%}

                                            </td>
                                            <td>
                                                {% if a.getReponse() not empty %}
                                                <a href="{{path('detail_reclamation',{'idService':a.getIdService().getId(),'idMembre':a.getIdMembre().getId()})}}" class="btn btn-primary btn-sm">Detail</a>   
                                                   {% endif%}
                                            </td>
                                            <td>  
                                                <a class="label label-danger" href="{{path('supp',{'idService':a.getIdService().getId(),'idMembre':a.getIdMembre().getId()})}}" ><i class="fa fa-times-circle"></i> Clear</a>

                                            </td>
                                        </tr>

                                        {% endfor%}
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-6">
                                        </div>
                                        <div class="col-sm-6">

                                            <a href="{{path('suppAll',{'idMembre':1})}}" class="btn btn-primary btn-sm">Supprimer les reclamation deja traitée</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container -->
                </div>
                <!-- /#content -->
                {% endblock %}