<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="all,follow">
        <meta name="googlebot" content="index,follow,snippet,archive">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Obaju e-commerce template">
        <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
        <meta name="keywords" content="">

        <title>{% block title %}AllForDeal{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

        <!-- styles -->
          <link href="{{ asset ('css/toastr.less') }}" rel="stylesheet">
        <link href="{{ asset ('css/toastr.scss') }}" rel="stylesheet">
        <link href="{{ asset ('css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/owl.theme.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/jqx.base.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/bootstrap-multiselect.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <!-- theme stylesheet -->
        <link href="{{ asset ('css/style.default.css') }}" rel="stylesheet" id="theme-stylesheet">

        <!-- your stylesheet with modifications -->
        <link href="{{ asset ('css/custom.css') }}" rel="stylesheet">

        <link href="{{ asset ('css/star-rating.css')}}" media="all" rel="stylesheet" type="text/css" />

        <!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
        <link href="{{ asset ('css/theme-krajee-svg.css')}}" media="all" rel="stylesheet" type="text/css" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>

    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset ('favicon.png') }}">
</head>
<body>

    <!-- *** TOPBAR *** -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    </li>
                    

 
                   {% if app.user %} <li><a href="{{path('fos_user_profile_show')}}">{{ app.user.username }}</a>{% else %}
<a href="{{path('fos_user_registration_register')}}">Login / Register &nbsp;</a>
{% endif %}
                    </li>
                    <li><a href="{{path('contact')}}">Contact us</a>
                    </li>
                    
                    </li>
                      {% if app.user %}  <li><a href="{{path('membre_desactiver')}}">Desactiver Mon Compte</a>
                    </li>{% endif %}
                </ul>
            </div>
        </div>
        

    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR *** -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="{{path('index')}}" data-animate-hover="bounce">
                    <img src="{{ asset ('img/logo.png') }}" alt="Obaju logo" class="hidden-xs">
                    <img src="{{ asset ('img/logo.png') }}" alt="Obaju logo" class="visible-xs"><span class="sr-only">AllForDeal - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="{{path('cart')}}">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
                    </a>    
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="{{path('index')}}">Home</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">

                                        {% for cat in cat1 %}
                                            <div class="col-sm-3">
                                                <h5>{{cat.nom}}</h5>
                                                <ul>
                                                    {%for sous in sous1%}
                                                        {% if sous.idCategorie==cat %}
                                                            <li><a href="{{path('categorieProduits', { 'idSousCategorie' : sous.id }) }}">{{ sous.nom }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="{{path('supplier_Allservices')}}" >Services </a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="{{path('Affichage_offre_All')}}" >Offers </a>
                    </li>
{% if app.user %}
                    <li class="dropdown yamm-fw">
                        <a href="{{path('supplier_products')}}" class="dropdown-toggle" >MY SPACE <b class=""></b></a>
                   
                    </li>
{% endif %}
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="{{path('cart')}}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">{{ getCount() }} items in cart</span></a>
                </div>
                <!--/.nav-collapse -->

             

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->



    <div id="all">

    {% block body %}{% endblock %}

    <!-- *** FOOTER *** -->
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Pages</h4>

                    <ul>
                        <li><a href="{{path('text')}}">About us</a>
                        </li>
                        <li><a href="{{path('text')}}">Terms and conditions</a>
                        </li>
                        <li><a href="{{path('faq')}}">FAQ</a>
                        </li>
                        <li><a href="{{path('contact')}}">Contact us</a>
                        </li>
                    </ul>

                    <hr>

                    <h4>User section</h4>

                    <ul>

                        <li><a href="{{path('fos_user_registration_register')}}">Regiter / login</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Service</h4>

                    <p class="text-muted">Save money and making new friends through mutual assistance and the exchange of services between free individuals living near you.</p>
                   
                    <h5>Produit</h5>
                    <p class="text-muted">Save money and making new deals through our assistance and get best sales .</p>
                    <a href="{{path('categorieProduits', { 'idSousCategorie' : 1}) }}">Go to contact page</a>

                    <hr class="hidden-md hidden-lg">
                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4><a href="{{path('map_homepage1')}}">Where to find us</h4>

                    <p><strong>ALL FOR DEAL.</strong>
                        <br>Address:
                        <br>ZI Chotrana II
                        <br>Cebalat Ben Ammar

                        <strong>Great Tunisia</strong>
                    </p>

                    <a href="{{path('contact')}}">Go to contact page</a>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                    <h4>Offers</h4>

                    <p class="text-muted">Save money and making new friends through mutual assistance and the exchange of services between free individuals living near you using offers.</p>

                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                <button class="btn btn-default" type="button">Subscribe!</button>

                            </span>

                        </div>
                        <!-- /input-group -->
                    </form>

                    <hr>

                    <h4>Stay in touch</h4>

                    <p class="social">
                        <a href="https://www.facebook.com/allfordeal/?ref=ts&fref=ts" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/allfordeal1" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                       
                        <a href="https://plus.google.com/u/1/101527078304814657055" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                       
                    </p>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->

    <!-- *** FOOTER END *** -->




    <!-- *** COPYRIGHT *** -->
    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left">© 2016 All For Deal.</p>

            </div>
            <div class="col-md-6">
                <p class="pull-right">COPYRIGHT ©2016 ALL FOR DEAL BY DEV-MASTERS TUNISIA PTE. LTD. ALL RIGHT RESERVED.</a> 
                    <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
                </p>
            </div>
        </div>
    </div>
    <!-- *** COPYRIGHT END *** -->



</div>
<!-- /#all -->

<!-- *** SCRIPTS TO INCLUDE *** -->
<script src="{{ asset ('js/respond.min.js') }}"></script>
<script src="{{ asset ('js/jquery-1.11.0.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('js/jquery.cookie.js') }}"></script>
<script src="{{ asset ('js/waypoints.min.js') }}"></script>
<script src="{{ asset ('js/modernizr.js') }}"></script>
<script src="{{ asset ('js/bootstrap-hover-dropdown.js') }}"></script>
<script src="{{ asset ('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset ('js/front.js') }}"></script>
<script src="{{ asset ('js/jqxcore.js') }}"></script>
<script src="{{ asset ('js/jqxrating.js') }}"></script>
<script src="{{ asset ('js/bootstrap-multiselect.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script src="{{asset('js/star-rating.min.js')}}" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<!-- optionally if you need translation for your language then include locale file as mentioned below -->
<script src="{{ asset ('js/star-rating_locale_fr.js')}}"></script>
<script>
    $(document).ready(function () {
        if ($("#dateDebut").length > 0) {
            $('#dateDebut').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                minDate: new Date(),
                onSelect: function (selectedDate) {
                    $('#dateFin').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#dateFin').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                minDate: new Date(),
                onSelect: function (selectedDate) {
                    $('#dateDebut').datepicker('option', 'maxDate', selectedDate);
                }
            });

            $(".datepicker").each(function () {
                $(this).datepicker('setDate', $(this).val());
            });
        }

    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
