{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>New account / Sign in</li>
                </ul>

            </div>

            <div class="col-md-6">
                <div class="box">
                    <h1>New account</h1>

                    <p class="lead">Not our registered customer yet?</p>
                    <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                    <p class="text-muted">If you have any questions, please feel free to <a href="{{path('contact')}}">contact us</a>, our customer service center is working for you 24/7.</p>

                    <hr>

                    <form action="" method="post">
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="nom" name="nom">
                        </div>
                        <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="prenom" name="prenom">
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" name="age">
                        </div>
                        
                        <div class="form-group">
                            <label for="type">Sexe: </label>
                            <INPUT type= "radio" name="genre" value="Feminin"> F
                            <INPUT type= "radio" name="genre" value="Masculin"> M <br>
                        </div>
                        <div class="form-group">
                            <label for="adresse">Adress</label>
                            <input type="text" class="form-control" id="adresse" name="adresse">
                        </div>
                        <div class="form-group">
                            <label for="type">Vous Etes:</label>
                            <INPUT type= "radio" name="type" value="Fournisseur"> Fournisseur
                            <INPUT type= "radio" name="type" value="Consommateur"> Consommateur
                            <INPUT type= "radio" name="type" value="membre"> Simple Membre<br>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input type="text" class="form-control" id="login" name="login">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-md" vqlue="register" ></i> Register</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h1>Login</h1>

                    <p class="lead">Already our customer?</p>
                    <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                        mi vitae est. Mauris placerat eleifend leo.</p>

                    <hr>






                    <form action="{{ path("fos_user_security_check") }}" method="post">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group">
                            <label for="username">UserName</label>
                            <input type="text" id="username" name="_username"  required="required" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="_password"  required="required" class="form-control"/>

                        </div>

                        <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'Remember_me'|trans }}</label>

                        </div>

                        <input type="submit" id="_submit" name="_submit" value="{{ 'Se Connecter'|trans }}" />
                    </form>


                </div>
            </div>


        </div>
        <!-- /.container -->
    </div>

{% endblock fos_user_content %}
