{% extends "::base.html.twig" %}
{% block stylesheets %}
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
  {% endblock %}
{% block body %}

    <div id="content">

        <div class="container">

                             <div class="col-md-3">
                <!-- *** CUSTOMER MENU *** -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Customer section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                          
                            <li>
                                <a href="{{path('supplier_products')}}"><i class="fa fa-list"></i> My products</a>
                            </li>
                           
                            <li>
                                <a href="{{path('supplier_Myservices')}}"><i class="fa fa-location-arrow"></i> My services</a>
                            </li>
                               <li>
                                <a href="{{path('customer_orders')}}"><i class="fa fa-bookmark-o"></i> My orders</a>
                            </li>
                            <li>
                                <a href="{{path('Affichage_offre')}}"><i class="fa fa-compass"></i> My offers</a>
                            </li>
                            
                             <li >
                                <a href="{{path('notification_offre')}}"><i class="fa fa-bitcoin"></i> My responses</a>
                            </li>
                            <li>
                                <a href="{{path('fos_user_profile_show')}}"><i class="fa fa-user"></i> My account</a>
                            </li>
                           
                            <li>
                                <a href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <div class="col-md-9">
                <div class="tab-content">
                    <div id="details" class="tab-pane fade in active" data-animate="fadeInUp">
                        {% for a in i%}
                            <div class="box" id="details">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <h4>Nom du service</h4>
                                            <blockquote><p>{{a.nom}}</p></blockquote>
                                            <h4>Catégorie</h4>
                                            <blockquote><p>
                                                    {{a.categorie}} 
                                                </p>
                                            </blockquote>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <h4>Description</h4>
                                            <blockquote>
                                                <p><em>{{a.description}}</em>
                                                </p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <h4>Nom du fournisseur</h4>
                                            <blockquote><p>{{a.idFournisseur.nom}} {{a.idFournisseur.prenom}} </p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                  
                                            
                                <hr>
                                <h5>Pour Contacter le fournisseur '{{a.idFournisseur.nom}} {{a.idFournisseur.prenom}}' ,Veuillez Appuyer sur "Contacter" pour l'informer par un EMAIL   </h5>

                                <form action="{{ path('detail_services', { 'id' : a.id }) }}" method="POST"/>
                                <div>
                                    <p class="text-center buttons">
                                        <button type="submit" id="contact" class="btn btn-primary">Contacter </button> 
                                    </p>
                                </div>
                                </form>
                            {% endfor%} 
                            <form name="serviceRating"  method="POST" action="{{ path('ratingS',{'id':ii}) }}"  role="form" >
                                   
         <label for="note">    Noter le Service<span class="required">*</span>  <input id="input-id" name="note" type="number" value="{{moyenne}}" class="rating" min=1 max=5 step=0.5 data-size="sm" data-ltr="true">
                                    
                                                  <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>Rate</button>                                                               
                                   
           
                                
        </form>
                        </div>


                    </div>

                    <!-- /#comments -->
                </div>
            </div> 
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqxRating").jqxRating({width: 350, height: 35});
        });
        
        $(document).ready(
                function ()
                {
                    
                    $("#contact").click(
                            function () {
                                $("#contact").prop('disabled', true);
                                //	$("div").css({'font-size':'40px'});
                            }
                    );

                }
        );
    </script>
{% endblock %}
