{% extends "::base.html.twig" %}

{% block body %}

    <div id="content">

        <div class="container">

                          <div class="col-md-3">
                <!-- *** CUSTOMER MENU *** -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Customer section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                          
                            <li>
                                <a href="{{path('supplier_products')}}"><i class="fa fa-list"></i> My products</a>
                            </li>
                           
                            <li>
                                <a href="{{path('supplier_Myservices')}}"><i class="fa fa-location-arrow"></i> My services</a>
                            </li>
                               <li>
                                <a href="{{path('customer_orders')}}"><i class="fa fa-bookmark-o"></i> My orders</a>
                            </li>
                            <li>
                                <a href="{{path('Affichage_offre')}}"><i class="fa fa-compass"></i> My offers</a>
                            </li>
                            
                             <li >
                                <a href="{{path('notification_offre')}}"><i class="fa fa-bitcoin"></i> My responses</a>
                            </li>
                            <li>
                                <a href="{{path('fos_user_profile_show')}}"><i class="fa fa-user"></i> My account</a>
                            </li>
                           
                            <li>
                                <a href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div id="details" class="tab-pane fade in active" data-animate="fadeInUp">

                        <div class="box" id="details">
                            {% for a in i%}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <h4>Nom du service</h4>
                                            <blockquote><p>{{a.nom}}</p></blockquote>
                                            <h4>Catégorie</h4>
                                            <blockquote><p>
                                                    {{a.categorie}} 
                                                </p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <h4>Description</h4>
                                            <blockquote>
                                                <p><em>{{a.description}}</em>
                                                </p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>

                                <hr>  
                                <div>
                                    <p class="text-center buttons">
                                        <a href="{{path('modif_service',{'id':a.id})}}" class="btn btn-primary"><i></i> Modifier </a> 
                                        <a href="{{path('delete_service',{'id':a.id})}}" class="btn btn-primary" onclick="return confirm('Etes vous sûre de vouloir supprimer ce Service?');"><i></i> Supprimer</a>
                                    </p>
                                </div>

                            {% endfor%}
                        </div>

                    </div>


                    <!-- /#comments -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqxRating").jqxRating({width: 350, height: 35});
        });
    </script>
{% endblock %}