{% extends "::base.html.twig" %}

{% block body %}
    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <ul class="breadcrumb">
                    <li><a href="#">Membres</a>
                    </li>
                    <li>Liste des Membre </li>
                </ul>
                
             

{% block monblock %}
<h1> Liste des Membres </h1>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Nom</td>
        <td>Prénom</td>
        <td> Age </td>
        <td> Sexe </td>
        <td> Adresse </td>
        <td> Type </th>
        <td> Points </td>
        <td>supprimer</td>
        <td>modifier</td>
    </tr>
    {% for i in membres%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nom}}</td>
            <td>{{i.prenom}}</td>
            <td>{{i.age}}</td>
            <td>{{i.genre}}</td>
            <td>{{i.adresse}}</td>
            <td>{{i.type}}</td>
            <td>{{i.points}}</td>
            
 <td><a href="{{path('membre_supprime',{'id':i.id})}}">Delete</a></td>
             
            
            
        </tr>
            {% endfor %}
    
</table>
            {% endblock %}   

            </div>

           
           

           
                </div>
            </div>


        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
{% endblock %}


