{% extends "::base.html.twig" %}

{% block body %}
   
    <div id="content">
        <div class="container">
 {% set total = 0 %}
{% set points = 0 %}
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>Shopping cart</li>
                </ul>
            </div>

            <div class="col-md-9" id="basket">

                <div class="box">

                    <form id="form" method="post" action="{{path('checkout1')}}">

                        <h1>Shopping cart</h1>
                        <p class="text-muted">You currently have {{ produits|length }} item(s) in your cart.</p>
                        {% if produits|length != 0 %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Discount</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for produit in produits %}
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <img src="{{ asset( vich_uploader_asset(getMainImage(produit.getId()), 'imageFile')) }}" alt="{{ getMainImage(produit.getId()).imageName }}"/>
                                                    </a>
                                                </td>
                                                <td><a href="#">{{ produit.nom }}</a>
                                                </td>
                                                <td>
                                                    <input type="number" name="qte{{ produit.id }}" value="{{ panier[produit.id] }}" class="form-control">
                                                </td>
                                                <td>$ {{ produit.prix }}</td>
                                                <td>{{ produit.reduction }} %</td>
                                                <td>$ {{ produit.prix * panier[produit.id] }}</td>
                                                <td><a href="javascript:removeFromCart({{ produit.id }});"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            {% set total = total + produit.prix * panier[produit.id] %}
                                            {% set points = points + produit.points * panier[produit.id] %}
                                        {% endfor %}
                                        <tr>
                                    <input style="display: none" name="total" value="{{ total }}"/>
                                    <input style="display: none" name="points" value="{{ points }}"/>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">$ {{ total }}</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->
                        {% endif %}

                        <div class="box-footer">
                            <div class="pull-left">
                                <a href="{{path('best8')}}" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                            </div>
                            {% if produits|length != 0 %}
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            {% endif %}
                        </div>

                    </form>

                </div>
                <!-- /.box -->

                {% if produits|length != 0 %}
                    <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path('detail' , { 'id' : 2 } )}}">
                                                <img src="{{ asset ('img/product2.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="{{ asset ('img/product2_2.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('detail' , { 'id' : 2 } )}}" class="invisible">
                                    <img src="{{ asset ('img/product2.jpg') }}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path('detail' , { 'id' : 2 } )}}">
                                                <img src="{{ asset ('img/product1.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path('detail' , { 'id' : 2 } )}}">
                                                <img src="{{ asset ('img/product1_2.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('detail' , { 'id' : 2 } )}}" class="invisible">
                                    <img src="{{ asset ('img/product1.jpg') }}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{path('detail' , { 'id' : 2 } )}}">
                                                <img src="{{ asset ('img/product3.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{path('detail' , { 'id' : 2 } )}}">
                                                <img src="{{ asset ('img/product3_2.jpg') }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{path('detail' , { 'id' : 2 } )}}" class="invisible">
                                    <img src="{{ asset ('img/product3.jpg') }}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>
                {% endif %}
            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">
                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                    {% if produits|length != 0 %}
                        <div id="table" class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th>$ {{ total }}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>

                <div class="box">
                    <div class="box-header">
                        <h4>Coupon code</h4>
                    </div>
                    <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                <button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

                            </span>
                        </div>
                        <!-- /input-group -->
                    </form>
                </div>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
{% endblock %}

{% block javascripts %}
    <script>
        function removeFromCart(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    $("#form").load(Routing.generate('cart') + " #form");
                    $("#table").load(Routing.generate('cart') + " #table");
                    $("#basket-overview").load(Routing.generate('cart') + " #basket-overview");
                }
            };
            xhttp.open("GET", Routing.generate('remove_from_cart', {id: id}), true);
            xhttp.send();
        }
    </script>
{% endblock %}